*{
    margin: 0 auto;
    padding: 0 auto;
}

#cuerpo{
    background-color: #b78989;
}

#cabezera{
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color:#884EA0;
    font-size: 30px;
    color: aliceblue;
}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#botones button{
    margin-left: 100px;
    margin-right: 100px;
}

th{
    text-align: center;
}

td{
    text-align: center;
    font-size: 20px;
}